@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary:#146EB4;
  --black:#1A181E;
  --black-95: #F2F2F2;
  --black-30:#4D4D4D;
  --white:#ffffff;
  --black-98:#FAFAFA;
  --black-85:#D9D9D9;
}

@font-face {
  font-family: "GalanoGrotesque";
  src: url('../asset/galano-grotesque/GalanoGrotesque.otf');
}
@font-face {
  font-family: "GalanoGrotesqueBold";
  src: url('../asset/galano-grotesque/GalanoGrotesqueBold.otf');
}
@font-face {
  font-family: "GalanoGrotesqueMedium";
  src: url('../asset/galano-grotesque/GalanoGrotesqueMedium.otf');
}
@font-face {
  font-family: "GalanoGrotesqueLight";
  src: url('../asset/galano-grotesque/GalanoGrotesqueLight.otf');
}
@font-face {
  font-family: "GalanoGrotesqueSemiBold";
  src: url('../asset/galano-grotesque/GalanoGrotesqueSemiBold.otf');
}
@font-face {
  font-family: "GalanoGrotesqueSemiThin";
  src: url('../asset/galano-grotesque/GalanoGrotesqueThin.otf');
}

html,
body {
  background-color: var(--black-98);
  padding: 0;
  margin: 0;
  font-family: 'GalanoGrotesque';  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


